<div class="ui three column doubling stackable grid">

    <div class="row">
        <div class="column">
            {#    <div class="ui segment">Content</div>#}
            <div id="main" style="width: 600px;height:400px;"></div>
        </div>
        <div class="column">
            <div id="python" style="width: 600px;height:400px;margin-left: 10rem;"></div>
        </div>
    </div>

    <div class="row">
        <div class="column">
            <div id="tornado" style="width: 600px;height:400px;"></div>
        </div>
        <div class="column">
            <div id="spider" style="width: 600px;height:400px;margin-left: 10rem;"></div>
        </div>
    </div>

    <div class="row">
        <div class="column">
            <div id="flask" style="width: 600px;height:400px;"></div>
        </div>
        <div class="column">
            <div id="analysis" style="width: 600px;height:400px;margin-left: 10rem;"></div>
        </div>
    </div>

    <div class="row">
        <div class="column">
            <div id="other" style="width: 600px;height:400px;"></div>
        </div>

    </div>

    {#  <div class="column">#}
    {#    <div class="ui segment">Content</div>#}
    {#  </div>#}
    {#  <div class="column">#}
    {#    <div class="ui segment">Content</div>#}
    {#  </div>#}
    {#  <div class="column">#}
    {#    <div class="ui segment">Content</div>#}
    {#  </div>#}
    {#  <div class="column">#}
    {#    <div class="ui segment">Content</div>#}
    {#  </div>#}
</div>

