{% extends 'base/base.html' %}
{% block MyCss %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='user/css/user.css') }}">
{% endblock %}
{% block content %}
        <div class="container" style="text-align: center;">

            <div class="form-group">
                <label for="exampleInputPassword1">用户名</label>
                <input type="text" class="form-control input_ext" id="name" placeholder="用户名">
                <p class="help-block" style="display: none"></p>
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">密码</label>
                <input type="password" class="form-control input_ext" id="pwd" placeholder="密码大于五位">
            </div>
            <div class="form-group">
                <img src="/captcha/33" alt="">
                <input type="text" class="input_ext" style="width: 400px;height: 50px;" id="verify" placeholder="验证码">
            </div>

            <button class="btn btn-success btn_ext">登录</button>
        </div>
{% endblock %}

{% block MyJs %}
    {{ super() }}
    <script src="{{ url_for('static', filename='user/js/login.js') }}"></script>
{% endblock %}